:root {
  --light-bg-color: #FAFAFF;
  --medium-bg-color: #d4d5d6;
  --medium-dark-bg-color: #686464;
  --dark-bg-color: #30343F;
  --header-colour: #284b74;
  --light-text-color: #FAFAFF;
  --dark-text-color: #21232b;
  --blue-text-color: #386FA4;
  --default-font: Lato;
  --light-blue-accent-color: #59A5D8;
  --dark-blue-accent-color: #133C55;
  --page-width: 80vw;
}

html {
  font-size: 20px;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--default-font), Helvetica, Arial, sans-serif;
}

header {
  position: fixed;
  z-index: 20;
  width: 100%;
}

.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: var(--header-colour);
  font-weight: bold;
  color: var(--light-text-color);
  -webkit-box-shadow: 0 10px 10px #636363;
          box-shadow: 0 10px 10px #636363;
}

.brand-title {
  font-size: 1.5rem;
  margin: 0.5rem;
}

.navbar-links ul {
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.navbar-links li {
  list-style: none;
}

.navbar-links li a {
  text-decoration: none;
  color: var(--light-text-color);
  padding: 1rem;
  display: block;
}

.navbar-links li:hover {
  background-color: var(--medium-dark-bg-color);
}

.toggle-button {
  position: absolute;
  top: 0.75rem;
  right: 1rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  display: none;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 30px;
  height: 21px;
}

.toggle-button .bar {
  height: 3px;
  width: 100%;
  background-color: var(--light-bg-color);
  border-radius: 10px;
}

#search {
  border: 3px solid grey;
  border-radius: 10px;
  width: 40%;
  height: 5%;
  outline: none;
  margin-bottom: 10px;
}

.side-section {
  position: absolute;
  z-index: 10;
  left: 0;
  width: 20vw;
}

.products-section {
  position: absolute;
  z-index: 10;
  right: 0;
  width: 80vw;
  height: 80vh;
  overflow: hidden;
  overflow-y: scroll;
  overflow-x: visible;
}

.products-section .name {
  text-align: left;
}

.products-section .price {
  text-align: left;
}

.products {
  width: 100%;
  min-width: 100%;
  border-collapse: collapse;
}

.products thead tr {
  background-color: #ddd;
}

.products tbody tr {
  border-bottom: 1px solid #ddd;
}

.products tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

.productImage {
  height: 25vh;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

table {
  border: 3px solid grey;
  border-radius: 10px;
}

table th, table td {
  padding-left: 5vw;
  padding-right: 5vw;
}

.content-wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 3fr 17fr;
      grid-template-columns: 3fr 17fr;
  padding-top: 90vh;
}

footer {
  position: absolute;
  top: 200vh;
  background-color: var(--dark-bg-color);
  color: var(--light-text-color);
  width: 100%;
}

footer p {
  text-align: center;
  font-style: italic;
  font-size: 0.75rem;
}

@media screen and (max-width: 700px) {
  body {
    font-size: 80%;
  }
}

@media screen and (max-width: 570px) {
  .productImage {
    height: 20vh;
  }
  body {
    font-size: 75%;
  }
}

@media screen and (max-width: 510px) {
  .productImage {
    height: 16vh;
  }
  body {
    font-size: 70%;
  }
}

@media screen and (max-width: 460px) {
  .productImage {
    height: 12vh;
  }
}

@media screen and (max-width: 370px) {
  .productImage {
    height: 7vh;
  }
}

@media screen and (max-width: 400px) {
  body {
    font-size: 60%;
  }
  .productImage {
    height: 10vh;
  }
  .toggle-button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .navbar-links {
    display: none;
    width: 100%;
  }
  .navbar-links ul {
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .navbar-links li {
    text-align: center;
  }
  .navbar-links li a {
    padding: 0.5rem 1rem;
  }
  .navbar {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}

.active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.title {
  width: 100%;
  font-size: 500%;
  color: var(--light-text-color);
  text-align: center;
  margin-top: 26vh;
}

.banner-area {
  width: 100%;
  height: 70vh;
  position: absolute;
  top: 0;
  background-image: url(Images/header-banner-2.png);
  background-size: cover;
  background-position: center center;
  z-index: 7;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

/* width */
::-webkit-scrollbar {
  width: 0.63vw;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  background: grey;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
/*# sourceMappingURL=style.css.map */